<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="tid" converterClass="org.forome.utils.LogbackThreadId"/>

    <define name="logdir" class="org.forome.annotation.logback.LogDirPropertyDefiner"/>
    <define name="filename" class="org.forome.annotation.logback.LogNamePropertyDefiner"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%tid] %-5level %class{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logdir}${file.separator}${filename}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logdir}${file.separator}${filename}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%tid] %-5level %class{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.forome" level="trace" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="logfile"/>
    </logger>


    <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="logfile"/>
    </root>

</configuration>