{
    "file-path-def": {
        "LOAD": "/db/download",
        "WORK": "/projects/AStorage"
    },

    "db-dir": "${WORK}/rdbs",
    "schema-dir": "${WORK}/schema",
    
    "db-options": {
        "create_if_missing": true,
        "error_if_exists": false,
        "max_open_files": 3000,
        "write_buffer_size": 67108864,
        "max_write_buffer_number": 3,
        "target_file_size_base": 67108864,
        "max_total_wal_size": 104857600
    },
    "col-options": {
        "base": {
            "compression": "lz4_compression"
        },
        "str": {
            "compression": "lz4_compression"
        },
        "sgidx": {
            "compression": "no_compression"
        }
    },
    "samples-count": 100,
    
    "create": {
        "Gerp": {
            "file_list": "${LOAD}/Gerp/chr*.maf.rates"
        },
        "SpliceAI": {
            "file_list": "${LOAD}/spliceAI/*.vcf.gz"
        },
        "dbNSFP": {
            "file_list": "${LOAD}/dbNSFP/dbNSFP4.0a_variant.chr*.gz"
        },
        "gnomAD": {
            //"genome_file_list": "${LOAD}/gnomad.2.1/gnomad.genomes.r2.1.1.sites.*.vcf.bgz",
            //"exome_file_list": "${LOAD}/gnomad.2.1/gnomad.exomes.r2.1.1.sites.*.vcf.bgz"
            "direct_file_list": "${LOAD}/gnomad/direct/*.js.gz"
        }
    },
    
    "service": {
        "arrays": {
            "hg38": [
                {"schema": "SpliceAI", "dbname": "SpliceAI"},
                {"schema": "dbNSFP"}
            ],
            "hg19": [
                {"schema": "Gerp"},
                {"schema": "gnomAD"}
            ]
        }
    }, 
    
    "host": "0.0.0.0",
    "port": 8290,
    "html-base": "/",
    "dir-files": [],
    "logging": { 
        "version": 1,
        "disable_existing_loggers": false,
        "formatters": { 
                "standard": { 
                "format": "%(asctime)s [%(levelname)s] %(name)s: %(message)s"
            }
        },
        "handlers": { 
            "default": { 
                "level": "INFO",
                "formatter": "standard",
                "class": "logging.FileHandler",
                "filename": "${WORK}/logs/astorage.log"
            }
        },
        "loggers": { 
            "": { 
                "handlers": ["default"],
                "level": "INFO",
                "propagate": true
            }
        } 
    }
}
